  <div class="radio">
    <label for="gender">GENDER: </label><br>
    <span>Female - <input type="radio" value="f" name="drink[gender]"></span><br>
    <span>Male - <input type="radio" name="drink[gender]"value="m"></span>
  </div>
  <div class="select">
    <label for="mood">MOOD: </label>
    <select name="drink[mood]">
      <option value="happy">Happy</option>
      <option value="suicidal">Suicidal</option>
      <option value="jolly">Jolly</option>
      <option value="gay">Gay</option>
      <option value="depressed">Depressed</option>
      <option value="angry">Angry</option>
    </select>
  </div>
  <div class="select">
    <label for="city">CITY: </label>
    <select name="drink[city]">
      <option value="Portland">Portland</option>
      <option value="NY">New York City</option>
      <option value="LA">City of Angels</option>
      <option value="RabbitHash">Rabbit Hash, KY</option>
      <option value="Nawlins">New Orleans</option>
      <option value="Miami">Miami</option>
    </select>
  </div>
  <div class="select">
    <label for="atmosphere">ATMOSPHERE: </label>
    <select name="drink[atmosphere]">
      <option value="family">Family</option>
      <option value="friends">Friends</option>
      <option value="friend">Friend</option>
      <option value="good_date">Good date</option>
      <option value="bad_date">Bad date</option>
      <option value="in_laws">In Laws</option>
      <option value="company_gathering">shitty company gatherings</option>
      <option value="alone">Alone</option>
    </select>
  </div>
